


.aboutComponentContainer{
    display: flex;
    justify-content: space-between;
}

.aboutMeHeader{
    color: #ffffff;
}

.pAbout{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}


.spanName{
    color: #0e836d;
    margin-right: 5px;
}

.linkLouise{
    color: #0e836d;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.linkLouise:hover{
    text-decoration: underline;
}

.aboutMe{
    margin: 7%;
    margin-left: 5%;
}

.checkbox{
    color: #ffffff;
    margin-bottom: -5px;
}

.favThings:hover{
    color: #0e836d;
    font-size: 20.5px;
}

.coder{
    height: 56vh;
    width: 36.6vw;
    border-radius: 8px;
    margin: 12%;
    margin-top: 10%;
    margin-right: 5%;
}

@media screen and (max-width: 1080px) and (min-width: 720px){
    .aboutMe{
        margin-top: 10%;
    }

    .coder{
        height: 35vh;
        width: 40vw;
        margin-top: 20%;
    }
}

@media only screen and (max-width: 719px){
    .aboutMe{
        margin-top: 18%;
    }

    .aboutMeHeader{
        font-size: 20px;
    }

    .pAbout{
        font-size: 14px;
    }

    .coder{
        height: 40vh;
        width: 36.6vw;
        margin-top: 22%;
    }
}