.resumeBtn{
    margin-left: 45%;
    margin-top: 10%;
    height: 5.6vh;
    width: 12.445vw;
    border-radius: 4px;
    border: none;
    background-color: #ffffff;
}

.resumeBtn:hover{
    background-color: #78e2cddc;
    height: 5.85vh;
    width: 12.7vw;
}

.linkResume{
    color: #0e836d;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (max-width: 1080px) and (min-width: 720px){
    .resumeBtn{
        height: 4vh;
        width: 12.445vw;
    } 
    
    .linkResume{
        font-size: 14px;
    }
}

@media only screen and (max-width: 719px){
    .resumeBtn{
        height: 4.4vh;
        width: 14vw;
        margin-top: 20%;
    }

    .linkResume{
        font-size: 10px;
    }
}