


.projectsContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 20% ;
}

.projectsHeader{
    color: #ffffff;
    margin-left: 40%;
}

.projectsHeader:hover{
    color: #0e836d;
    font-size: 34px;
}

.iconProjectHeader{
    margin-right: 15px;
}

.aCard{
    height: 48vh;
    width: 25.62vw;
    margin-left: 4%;
    margin-right: 3%;
    margin-top: 2%;
}

.cards{
    height: 48vh;
    width: 25.62vw;
    margin-left: 4%;
    margin-right: 3%;
}

.aCard:hover{
    height: 52vh;
    width: 27vw;
}

.cards{
    height: 52vh;
    width: 27vw;
}

.cardContainer{
    display: flex;
    margin-top: 4%;
}

#finAppImage{
    background-image: url("financeapp.jpg");
    background-size: 25.62vw 52vh;
}

#finAppImage:hover{
    background-size: 27vw 57vh;
}

#todoImage{
    background-image: url("todolist.jpg");
    background-size: 25.62vw 49vh;
}

#todoImage:hover{
    background-size: 27vw 52vh;
}

#arnologyImage{
    background-image: url("arnology.png");
    background-size: 25.62vw 49vh;
}

#arnologyImage:hover{
    background-size: 27vw 52vh;
}

#searchAppImage{
    background-image: url("searchcountry.jpg");
    background-size: 25.62vw 49vh;
}

#searchAppImage:hover{
    background-size: 27vw 52vh;
}

#portfolioImage{
    background-image: url("portfolio.jpg");
    background-size: 25.62vw 49vh;
}

#portfolioImage:hover{
    background-size: 27vw 52vh;
}

.projectsLink{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-left: 25%;
    margin-bottom: 5px;
}

.projectsLink:hover{
    color: #0e836d;
}

@media screen and (max-width: 1080px) and (min-width: 720px){
    .projectsHeader{
        font-size: 20px;
        margin-top: 10%;
    }

    .projectsLink{
        font-size: 14px;
        margin-left: 20%;
    }

    .cards{
        height: 30vh;
        width: 30vw;
    }

    .aCard{
        height: 25vh;
        width: 25vw;
    }

    .projectsHeader:hover{
        font-size: 10px;
    }

    #finAppImage{
        background-size: 25vw 28vh;
    }

    #todoImage{
        background-size: 25vw 25vh;
    }

    #arnologyImage{
        background-size: 25vw 25vh;
    }

    #searchAppImage{
        background-size: 25vw 25vh;
    }

    #portfolioImage{
        background-size: 25vw 25vh;
    }

    #finAppImage:hover{
        pointer-events: none;
    }
    #todoImage:hover{
        pointer-events: none;
    }
    #arnologyImage:hover{
        pointer-events: none;
    }
    #searchAppImage:hover{
        pointer-events: none;
    }
    #portfolioImage:hover{
        pointer-events: none;
    }
}


@media only screen and (max-width: 719px){
    .projectsHeader{
        font-size: 18px;
        margin-top: 25%;
    }

    .cardContainer{
        display: flex;
        flex-direction: column;
        margin-left: 27%;
    }
    
    .projectsLink{
        font-size: 11px;
    }

    .cards{
        margin-top: 30px;
        height: 35vh;
        width: 40vw;
    }

    .aCard{
        height: 35vh;
        width: 40vw;
    }

    #finAppImage{
        background-size: 40vw 40vh;
    }

    #todoImage{
        background-size: 38vw 38vh;
    }

    #arnologyImage{
        background-size: 37vw 36vh;
    }

    #searchAppImage{
        background-size: 40vw 35vh;
    }

    #portfolioImage{
        background-size: 40vw 35vh;
    }

    #finAppImage:hover{
        pointer-events: none;
    }
}

