


.projectsContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 20% ;
}

.projectsHeader{
    color: #ffffff;
    margin-left: 40%;
}

.projectsHeader:hover{
    color: #0e836d;
    font-size: 34px;
}

.iconProjectHeader{
    margin-right: 15px;
}

.aCard{
    height: 48vh;
    width: 25.62vw;
    margin-left: 4%;
    margin-right: 3%;
    margin-top: 2%;
}

.cards{
    height: 48vh;
    width: 25.62vw;
    margin-left: 4%;
    margin-right: 3%;
}

.aCard:hover{
    height: 52vh;
    width: 27vw;
}

.cards{
    height: 52vh;
    width: 27vw;
}

.cardContainer{
    display: flex;
    margin-top: 4%;
}

#finAppImage{
    background-image: url("financeapp.jpg");
    background-size: 25.62vw 52vh;
}

#finAppImage:hover{
    background-size: 27vw 57vh;
}

#todoImage{
    background-image: url("todolist.jpg");
    background-size: 25.62vw 49vh;
}

#todoImage:hover{
    background-size: 27vw 52vh;
}

#arnologyImage{
    background-image: url("arnology.png");
    background-size: 25.62vw 49vh;
}

#arnologyImage:hover{
    background-size: 27vw 52vh;
}

#searchAppImage{
    background-image: url("searchcountry.jpg");
    background-size: 25.62vw 49vh;
}

#searchAppImage:hover{
    background-size: 27vw 52vh;
}

#portfolioImage{
    background-image: url("portfolio.jpg");
    background-size: 25.62vw 49vh;
}

#portfolioImage:hover{
    background-size: 27vw 52vh;
}

.projectsLink{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-left: 25%;
}

.projectsLink:hover{
    color: #0e836d;
    font-size: 19px;
}