


.resumePageContainer{
    display: flex;
    flex-direction: column;
}

.resumeContentContainer{
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 5%;
}

.volunteerAndPublications{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
}

.iconHeader{
    margin-bottom: -5px;
    margin-right: 10px;
    color: #ffffff;
}

.educationContainer{
    margin-left: 7%;
}

.experienceContainer{
    margin-left: 10%;
}

.headers{
    color: #ffffff;
    text-align: center;
}

.tickIcon{
    color: #0e836d;
    margin-bottom: -5px;
}

.period{
    color: #ffffff;
    font-weight: 600;
    font-style: italic;
}

.place{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}

.placeSpan{
    color: #0e836d;
    font-weight: 700;
}

.workLink{
    color: #ffffff;
}

.volunteerContainer{
    margin-left: 10%;
}

.CVbtnContainer{
    margin-bottom: 15%;
}