@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


.imgContainer{
    height: 400px;
    width: 350px;
    border-radius: 200px;
    margin-left: 1%;
    margin-top: 30%;
}

.homepageContainerDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

hr{
    border: 1px solid #000000;
}

.homepageHeaderContainer{
    margin-top: 5%;
}

.headerContent{
    font-size: 50px;
    color: cornsilk;
    font-family: Dancing Script;
}