


.navbar{
    height: 70px;
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.name{
    color: #5cac9e;
    text-decoration: none;
}

.name:hover{
    font-size: 25px;
    color: cornsilk;
}

.nameContainer{
    width: 200px;
    margin-left: 1%;
    margin-bottom: 7%;
}


.linkContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 15%;
}

.navbarLi{
    margin-left: 20%;
}

.navLinks{
    color: #5cac9e;
    font-weight: 600;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 3%;
}

.navLinks:hover{
    color: cornsilk;
    font-size: 17px;
}

.menu{
    color: #ffffff;
}

@media screen and (max-width: 1080px) and (min-width: 720px){
    .name{
        color: #5cac9e;
        text-decoration: none;
        font-size: medium;
        margin-left: 5%;
    }

    .name:hover{
        font-size: 20px;
        color: cornsilk;
    }

    .nameContainer{
        margin-left: 5%;
    }

    .navbarLi{
        margin-left: 90%;
        font-size: small;
        margin-left: 8%;
    }

    .linkContainer{
        margin-right: 15%;
        margin-top: 4%;
    }
}

@media only screen and (max-width: 719px){
    .name{
        color: #5cac9e;
        text-decoration: none;
        font-size: 10px;
        margin-left: 5%;
    }

    .name:hover{
        font-size: 11px;
        color: cornsilk;
    }

    .nameContainer{
        margin-left: 5%;
        margin-bottom: 4%;
    }

    .navbarLi{
        margin-left: 90%;
        font-size: 11px;
        margin-left: 8%;
        margin-top: 8px;
    }

    .linkContainer{
        margin-right: 12%;
        margin-top: 4%;
    }

    .navLinks:hover{
        color: cornsilk;
        font-size: 12px;
    }
}